body{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

header{
	background-color: #777;
}

.header_nav_list{
	margin: 0;
	padding: 20px 0;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	li{
		list-style: none;
		margin-left: 10px;
		a{
			color:#fff;
		}
	}
}
.app_content{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}